h1 a {
	color: #000;
}

div#footer {
	margin-bottom: .3in;
}

pre {
	margin-left: .2in;
}

.dateline {
  font-size: small;
  font-style: italic;
}

span.footnote {
	font-size: small;
}

p.navigation {
  display: none;
}
